<!-- Toolbar -->
<div class="toolbar" role="banner">
    <mat-icon svgIcon="flight" aria-hidden="false" aria-label="Flight Search"></mat-icon>
    <span>Flight Search App</span>

    <mat-form-field class='language'>
        <mat-label>Select Language</mat-label>
        <mat-select>
            <mat-option *ngFor="let lang of languages" [value]="lang.locale" (click)="onLanguageChange(lang.locale)">
                {{lang.label}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="spacer"></div>
</div>

<div class="form-container">
    <app-flight-search (searchClicked)="onSearchClicked($event)"></app-flight-search>

    <app-flight-list [searchStarted]="searchStarted"></app-flight-list>
</div>
